.footer {
	.container {
		padding-top: 60px;
		padding-bottom: 60px;
		display: flex;
		align-items: baseline;
	}
	width: 100%;
	background-color: $background-color_3;
	&__center {
		margin-left: 93px;
	}
	&__p {
		color: $color_9;
		font-weight: 700;
		letter-spacing: 0.42px;
		text-transform: uppercase;
		margin-bottom: 20px;
	}
	&__svg {
		display: flex;
		gap: 10px;
	}
	&__link {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		border-radius: 50%;
		color: $color_4;
		background-color: $background-color_6;
		transition: 300ms;
		&:hover {
			transition: 300ms;
			background-color: $background-color_5;
			color: $color_4;
			outline: none;
		}
		&:focus {
			transition: 300ms;
			background-color: $background-color_5;
			color: $color_4;
			outline: none;
		}
	}
	&__ul {
		padding: 0px;
		margin: 0px;
	}
	&_title {
		padding-left: 215px;
		padding-top: 60px;
	}
	&_no_logo {
		margin: 0px;
		padding-left: 215px;
	}
	&__logo {
		color: $color_4;
		font-family: $font-family_2;
		font-size: 26px;
		font-weight: 700;
		letter-spacing: 0.78px;
	}
	&__web {
		color: $color_2;
	}
	&__adress {
		margin-top: 28px;
	}
	&__li {
		&:not(:last-child) {
			margin-bottom: 12px;
		}
	}
	&__city {
		color: $color_4;
		font-style: normal;
		font-weight: 400;
		line-height: 114.286%;
		letter-spacing: 0.42px;
		margin: 0 0 12px 0;
	}
	&__mail {
		width: 231px;
		height: 16px;
		flex-shrink: 0;
		color: $color_10;
		font-style: normal;
		font-weight: 400;
		line-height: 114.286%;
		letter-spacing: 0.42px;
	}
	&__phone {
		width: 231px;
		height: 16px;
		flex-shrink: 0;
		color: $color_10;
		font-size: 14px;
		font-style: normal;
		font-weight: 400;
		line-height: 114.286%;
		letter-spacing: 0.42px;
	}
	&__right {
		margin-left: 93px;
	}
	&__form {
		display: flex;
		align-items: center;
		justify-content: center;
		margin-top: 20px;
	}
	&__button {
		display: flex;
		border-radius: 4px;
		background: $color_2;
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
		color: $color_4;
		text-align: center;
		font-size: 16px;
		font-weight: 700;
		line-height: 187.5%;
		letter-spacing: 0.96px;
		cursor: pointer;
		margin-left: 12px;
		text-align: center;
		align-items: center;
		justify-content: center;
		padding: 10px 23px;
		gap: 10px;
	}
	&__input {
		border-radius: 4px;
		border: 1px solid rgba(255, 255, 255, 0.30);
		background: rgba(33, 150, 243, 0.00);
		box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
		width: 358px;
		height: 50px;
		border-radius: 4px;
		padding-left: 16px;
		color: $color_4;
		&:focus {
			outline: 1px solid var(--black_gray);
		}
	}
}
