
@import "./modern-normalize.css";
@import "./wasr.scss";
@import "./mixin.scss";
@import "./portfolio/portfolio.scss";
@import "./header.scss";
@import "./container.scss";
@import "./button.scss";
@import "./main/hero.scss";
@import "./main/info.scss";
@import "./main/work.scss";
@import "./main/team.scss";
@import "./main/customers.scss";
@import "./modal.scss";
@import "./footer.scss";

* {
	box-sizing: border-box;

&::before {
	box-sizing: border-box;
}
&::after {
	box-sizing: border-box;
}
}
ul, a, h1, h2, h3, h4, p, address{
    list-style: none;
    text-decoration: none;
    font-style: normal;
    padding: 0px;
    margin: 0px;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
body {
	font-family: $font-family_1;
	font-style: normal;
	line-height: normal;
	font-size: 14px;
	font-weight: 400;
	background-color: $background-color_1;
	margin: 0 auto;
}
.flex {
	display: flex;
	justify-content: space-between;
	margin: 0 auto;
	gap: 30px;
}
.filter {
	display: flex;
	justify-content: center;
	gap: 8px;
	margin-bottom: 50px;
}
.social{
	display: flex;
		justify-content: center;
		align-items: center;
		width: 44px;
		height: 44px;
		gap: 10px;
		border-radius: 50%;
		transition: 300ms;
		&:hover {
			transition: 300ms;
			outline: none;
		}
		&:focus {
			transition: 300ms;
			outline: none;
		}
}


.input__comment {
	resize: none;
	font-family: $font-family_4;
	font-size: 12px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	letter-spacing: 0.12px;
	width: 100%;
	min-height: 120px;
	padding: 11px 12px;
	margin-top: 4px;
	border-radius: 4px;
	border: 1px solid rgba(33, 33, 33, 0.20);
	&:focus {
		transition: 300ms;
		outline: 1px solid $color_2;
	}
	&:hover {
		transition: 300ms;
		outline: 1px solid $color_2;
	}
}
input[type="checkbox"] {
	outline: 1px solid $color_1;
	appearance: none;
	border: var(--black_gray) 1px solid;
	height: 15px;
	width: 16px;
	border-radius: 2px;
	transition-duration: 0.3s;
	&:checked {
		background: $background-color_2;
		border: none;
		color: $color_4;
		&::before {
			content: "✔";
			margin-left: 3px;
			display: flex;
			margin-top: -2px;
		}
	}
}



