
.customers {
	padding-top: 94px;
	padding-bottom: 94px;
	&__ul {
		display: flex;
		justify-content: center;
		gap: 30px;
		width: 100%;
		@include tablet {
			flex-wrap: wrap;
		  }
		  @include mobile {
			gap: 17px;
			flex-wrap: wrap;
		  }
	}
	&__icon {
		color: $color_7;
		padding: 16px 32px;
		width: 100%;
		height: 100%;
		transition: 300ms;
		@include mobile {
			padding: 16px 52px;
		  }
	}
	&__link {
		@include link ()
	}
	&__icon {
		&:hover {
			transition: 300ms;
			color: $color_8;
		}
		&:focus {
			transition: 300ms;
			color: $color_8;
		}
	}
	&__title {
		color: $color_5;
		text-align: center;
		font-size: 36px;
		font-style: normal;
		font-weight: 700;
		line-height: normal;
		letter-spacing: 1.08px;
		margin-bottom: 50px;
	}
}

