.hero {
	background-image: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)), url("../images/Img_background.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	align-items: center;
	padding-top: 200px;
	padding-bottom: 200px;
	background-color: $background-color_3;
	@include tablet {
		padding-top: 118px;
		padding-bottom: 118px;
	}
	@include mobile {
		padding-top: 118px;
		padding-bottom: 118px;
	}
	&__title {
		color: $color_4;
		text-align: center;
		font-size: 44px;
		font-weight: 900;
		line-height: 136.364%;
		letter-spacing: 2.64px;
		text-transform: uppercase;
		margin: 0 auto;
		max-width: 700px;
		@include mobile {
			font-size: 26px;
		}
	}
}
