.info {
	text-align: left;
	padding-top: 94px;
	padding-bottom: 94px;
	@include tablet {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	@include mobile {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	&__ul {
		display: flex;
		gap: 30px;
		@include tablet {
			flex-wrap: wrap;
		  }
		  @include mobile {
			flex-wrap: wrap;
			justify-content: center;
		  }
	}
	&__list{
		max-width: 350px;
		@include mobile {
		  max-width: 100%;
		}
	  }
	
	&__div {
		padding: 25px 100px;
		background-color: $background-color_4;
		margin-bottom: 30px;
		border-radius: 4px;
		@include tablet {
			padding: 25px 142px;
		  }
		  @include mobile {
			padding: 25px 190px;
		  }
	}
	&__title {
		color: $color_5;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 0.42px;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
	&__description {
		color: $color_3;
		font-size: 14px;
		font-weight: 400;
		line-height: 171.429%;
		letter-spacing: 0.42px;
	}
}
